/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

.container {
  background-color: rgba(232, 232, 232, 1);
  width: 1440px;
  height: 1700px;
  margin: 0 auto;
  border: 1px solid #e8e8e8;
}
.wrapper {
  background-image: url("../img/ellipse_1_copy_4.png ");
  background-repeat: no-repeat;
  width: 1190px;
  height: 1064px;
  margin: 106px auto;
  /* border: 1px solid #273d46; */
}
.logo {
  opacity: 0.6;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #273d46;
  margin-top: 168px;
  text-align: center;
  height: 10px;
}
.heading {
  font-family: "Times New Roman";
  font-size: 36px;
  line-height: 37px;
  font-weight: 400;
  color: #273d46;
  margin: 28px auto;
  text-align: center;
  width: 721px;
  height: 75px;
  /* border: 1px solid black; */
}
.logo-background {
  width: 841px;
  height: 561px;
  box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
  margin: 77px auto;
}
.logo-background-in {
  width: 821px;
  height: 541px;
  margin: 10px;
}
.description {
  opacity: 0.8;
  height: 257px;
  width: 736px;
  font-family: "Times New Roman";
  font-size: 24px;
  line-height: 35px;
  font-weight: 400;
  color: #273d46;
  margin: 110px auto;
  text-align: left;
}
.description-two {
  margin-top: 60px;
}

.list {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  text-align: left;
  margin: 64px auto;
  width: 736px;
  /* border: 1px solid black; */
}
.list-one {
  background: url("../img/check_icon_37.png ") left no-repeat;
  padding-left: 30px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #273d46;
}
.list-two {
  background: url("../img/check_icon_37.png ") left no-repeat;
  padding-left: 30px;
  font-weight: 400;
  font-style: italic;
  color: #80b7b3;
}
.list-three {
  background: url("../img/check_icon_37.png ") left no-repeat;
  padding-left: 30px;
  font-weight: 700;
  color: #273d46;
}
.list-four {
  background: url("../img/check_icon_37.png ") left no-repeat;
  padding-left: 30px;
  font-weight: 400;
  text-decoration: line-through;
  color: #273d46;
}
.list-four span {
  opacity: 0.3;
}

.div-button {
  margin: 59px auto;
  width: 736px;
  /* border: 1px solid black; */
  text-align: left;
}
.button {
  background: url("../img/shape_2_9.png ") no-repeat;
  background-position: 160px 13px;
  width: 199px;
  height: 44px;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  background-color: #80b7b3;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.54);
  border-radius: 50px;
}

/* .list {
  margin: 0 0 50px 0;
}

.list li {
  font-size: 24px;
  margin: 0 0 15px 0;
  background: url("../img/icons/li.svg") left 5px no-repeat;
  padding: 0px 0px 0px 30px;
}

.block {
  background: url("../img/avatar_3.jpg") 50%/100px no-repeat,
    url("../img/avatar.jpg") 100px 20px/200px no-repeat,
    url("../img/bg.jpg") 50% / cover no-repeat;

  height: 500px;
  border-radius: 15px;
  box-shadow: 0 0 10px #000;
} */ ;
